# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment settings
.env

# Local Database Files
data/*.db
data/*.sqlite3
data/*.db-wal
data/*.db-shm
data/*.bak
*.db
*.sqlite3
*.db-wal
*.db-shm
*.bak

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
